<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendIt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SendIt.Properties.Settings>
            <setting name="PathToAdaptationsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpClient" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpClientPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmptLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ToAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpUsesSsl" serializeAs="String">
                <value>True</value>
            </setting>
        </SendIt.Properties.Settings>
    </userSettings>
</configuration>